extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post',action='/login')
   p
    babel username
    input(type='text' name ='name')
    babel password
    input(type='text' name = 'pwd')
    input(type='submit')
   p
    还没有账号？ 注册一个吧
    a(href='/regist')
     点此注册


