extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post',action='/regist')
    babel username
    input(type='text' name ='name')
    babel password
    input(type='text' name = 'pwd')
    input(type='submit')
  p
    已有账号？ 直接登录吧
    a(href='/login')
     点此登录



